NODE_ENV=development
PORT=5000
DATABASE_URL=postgresql://postgres:Kannadhasan@2005@db.oujghaaxmvhuacirpmxb.supabase.co:5432/postgres
JWT_SECRET=lbptr/NPESb2BDqX3qbx2gXmAKfgyiBuEJ7145usZnffVX6NvOj8ZbW1gC9K/VNXFxLw2HtmzX+HJYVWnPqFCA==
JWT_EXPIRE=7d
GROQ_API_KEY=gsk_your_key
GEMINI_API_KEY=your_gemini_key
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
SUPABASE_URL=https://oujghaaxmvhuacirpmxb.supabase.co/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im91amdoYWF4bXZodWFjaXJwbXhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc3MDkwMjIsImV4cCI6MjA4MzI4NTAyMn0.qNPKcGNI5M-fz3JGhPQZr-R8iR3HLgBdglZl03h8XR0
FRONTEND_URL=http://localhost:5173

